*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-color: #ccc;
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}
.card{
    margin: 16px auto;
    background-color: white;
    margin: 30px;
}
h1{
    background-color: lightblue;
    color: #333;
    padding: 20px;
    font-size: 22px;
}
h1 > i{
    float: right;
    cursor: pointer;
}
h1 > i:hover{
    color: gray;
}
h1 > i:active{
    color: red;
}

article{
    position: relative;
    width: 110px;
    height: 35px;
    float: left;
    margin: 5px;
    border: 2px solid lightblue;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    
}

article div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
}
article input{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 50px;
    opacity: 0;
    cursor: pointer;

}
input[type=checkbox]:checked ~ div{
    background-color: lightblue;
}
section{
    padding: 10px;
    margin-bottom: 40px; 
    
}
#reason, #suggestions{
    width: 100%;
    font-size: 12px;
    background-color: white;
    padding: 8px;
    margin-bottom: 40px;
    border: 2px solid lightblue;
}
input[type=submit]{
    display: block;
    margin: 5px auto;
    width: 100%;
    padding: 8px;
    border: 2px solid lightblue;
    font-size: 15px;
    text-decoration: none;
    transition: .3s ease;
    background-color: white;

}
input[type=submit]:hover{
    background-color: lightblue;
}
